  #contenedor {
  float: left;
  width: 1300px;
  }
  
  #tabla1 {
  float: left;
  width: 900px;
  }  

  #tabla1 table tr td {
  width: 900px
  }
  
  #tabla2 {
  float: left;
  width: 400px;
  }
  
  #tabla2 table {
  text-align: center;
  }
  
  #tabla2 table tr td {
  width: 400px
  }

  body.inicio{
  background-color: 	#9b85c5;
  }

  table.inicioL{
    background-color: 	#ab9cc7;
      width: 1000px;
      text-align: center;
      font-family: Verdana;
      padding: 5px;
  }

  h1.desa {
      font-size: 45px; 
      color:black;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
  }

  h2.intro{
      font: 20px; 
      color:black;
      font-family: "Consolas", monospace;
      text-align: center;
  }

  table.contenido{
    background-color: 	#aa9fc2;
    border:5px solid black;
    border-collapse: collapse;
    text-align: left;
    border-bottom: 2px groove;
  }
  
  table.versiones{

    border-collapse: collapse;
    text-align: left;
  }
  
  p.centrado {
    text-align: center;
  } 
  
  tr:hover{
  background-color: rgb(212, 216, 241);
  border:2px solid black;
 }
  
 table.anexos{
  background-color: 	#aa9fc2;
  border:5px solid black;
  border-collapse: collapse;
  text-align: left;
  border-bottom: 2px groove;
}

  h3,h4{
    color:black;
    font-family: "Consolas";
    text-align: center;
  }





